@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@100;300&display=swap");
:root{
  --blur:0;
  --blur2:0;
  --blur3:0;
  --b: 0;
  --coral_l_epip: 0;
  --r_to_l: 0;
  --r_to_l2: 0;
  --r_to_l3: 0;
  --fishY: 0;
  --cursorX: 50vw;
  --cursorY: 50vh;
}
.flashlight.active {
  cursor: none;
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: fixed;
  pointer-events: none;
  z-index: 10;
  background: radial-gradient(
    circle 10vmax at var(--cursorX) var(--cursorY),
    rgba(0,0,0,0) 0%,
    rgba(0,0,0,.5) 80%,
    rgba(0,0,0,.95) 100%
  )
}
body {
  margin: 0;
  background-color: #1d1e22;
  z-index: 20;
  overflow: visible;
  font-family: "Kanit", sans-serif;
  font-weight: 300;
}
#post {
	font-size: 3em;
	position: fixed;
	top: 0;
	left: 0;
	background: #fffc;
	z-index: 999;
}
.screen-play{
  height: 100vh;
  width: 100%;
  position: fixed;
  overflow: hidden;
}
#epipelagic{
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
}
#mesopelagic{
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
#bathypelagic{
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
}
#abyssopelagic{
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
}
#canvas[data-scene="epip"] #epipelagic,
#canvas[data-scene="epip"] #mesopelagic,
#canvas[data-scene="epip"] #abyssopelagic,
#canvas[data-scene="epip"] #bathypelagic{
  transition: 1s;
}

#canvas[data-scene="meso"] #epipelagic,
#canvas[data-scene="meso"] #mesopelagic,
#canvas[data-scene="meso"] #abyssopelagic,
#canvas[data-scene="meso"] #bathypelagic{
  transform: translate(0, -100vh);
  transition: 1s;
}
#canvas[data-scene="bath"] #epipelagic,
#canvas[data-scene="bath"] #mesopelagic,
#canvas[data-scene="bath"] #abyssopelagic,
#canvas[data-scene="bath"] #bathypelagic{
  transform: translate(0, -200vh);
  transition: 1s;
}
#canvas[data-scene="aby"] #epipelagic,
#canvas[data-scene="aby"] #mesopelagic,
#canvas[data-scene="aby"] #bathypelagic,
#canvas[data-scene="aby"] #abyssopelagic{
  transform: translate(0, -300vh);
  transition: 1s;
}
.message-panel{
  position: absolute;
  width: 0; height: 0;
  left: 0; top: 0;
  visibility: hidden;
}
.message-panel-fish{
  overflow: auto;
  position: absolute;
  border-style: solid;
  padding: 0 3.5vh;
  bottom: 0;
  left: 34%;
  width: 30vw;
  height: 20vh; box-shadow: inset 0em 0em 3em #381e00; color: #ffbf8a;
  background-color: #7a4500; text-align: center;
  border-radius: 30px;
  z-index: 30;
  visibility: visible;
}
.message-panel.active{
  overflow: auto;
  position: absolute;
  border-style: solid;
  left: 0; right: 0;
  top: 0; bottom: 0;
  padding-top: 2vh;
  margin: auto;
  min-width: 50vw;
  min-height: 40vh; box-shadow: inset 0em 0em 3em #001413; color: #8affef;
  background-color: #007a75; text-align: center;
  border-radius: 30px;
  z-index: 500;
  visibility: visible;
}
.warp-txt{
  align-items: center;
  height: 100%;
  overflow: hidden;
}
.mes-btn{
  width: 5vw;
  position: absolute;
  cursor: pointer;
  margin-right: auto;
  margin-left: auto;
  left: 0;
  right: 0;
  padding: 10px;
  border-style: solid;
  border-radius: 5px;
  bottom: 5vh;
  transition: 0.5s;
}
.mes-btn:hover{
  background-color: #8affef;
  color: #007a75;
  transition: 0.5s;
}
.flashlight_btn h1{
  margin: 0;
}
.flashlight_btn{
  box-shadow: inset 0em 0em 3em #001413; color: #3bec44;
  background-color: #0a7a00; text-align: center;
  cursor: pointer;
  border-style: solid;
  position: absolute;
  width: auto;
  height: auto;
  left: 10vh;
  bottom: 4vh;
  border-radius: 10px;
  z-index: 99;
  padding: 10px;
  font-weight: 400 !important;
}
.flashlight_btn:hover{
  box-shadow: inset 0em 0em 3em #141300; color: #fff020;
  background-color: #7a6e00; text-align: center;
  transition: 1s;
}
.flashlight_btn.active{
  box-shadow: inset 0em 0em 3em #001413; color: #ec473b;
  background-color: #7a0000; text-align: center;
}
.bg-panel{
  width: 0; height: 0;
  z-index: -20;
  left: 0; right: 0;
}
.bg-panel.active{
  background-color: rgba(255, 255, 255, 0.5);
  width: 100%; height: 100%;
  position: absolute;
  z-index: 499;
}
.cover-top, .cover-bottom{
  position: fixed;
  min-width: 100vw;
  z-index: 20;
}
.cover-top{
  top: -3vh;
  height: 15vh;
}
.cover-bottom{
  bottom: -6vh;
  height: 20vh;
}
.cover-page{
  width: 100%;
  height: 16vh;
  position: absolute;
}
.cover-page.one{
  filter: blur(calc(var(--blur) * 0.01px));
}
.cover-page.two{
  filter: blur(calc(var(--blur2) * 0.001px));
}
.top{
  top: 0;
}
.bottom{
  bottom: -1.5vh;
}
#second-page{
  height: 120vh;
}
.warp{
  height: calc(2500vh * 10);
  background: linear-gradient(0deg, rgba(0,9,16,1) 0%, rgba(0,37,65,1) 94%, rgba(0,65,114,1) 95%, rgba(0,121,212,1) 99.2%, rgba(6,148,255,1) 99.5%, rgba(104,190,255,1) 99.8%, rgba(201,232,254,1) 100%);
}
.inactive{
  height: 0;
  width: 0;
  visibility: hidden;
}
p {
  font-size: 20px;
  text-align: center;
  top: 20%;
}
.panel{
  font-family: 'Roboto Slab', serif; font-weight: 500;
  width: 100%; align-items: center; position: absolute; z-index: 80;
}
.panel h1{
  margin: 0;
  padding: 10px 0;
  font-size: max(1.7vw , 25px);
}
#textArea h1{
  font-family: 'Roboto Slab', serif;
}
.meter, .name-tage{
  position: absolute;
  border-style: solid;
  height: 6.5vh; box-shadow: inset 0em 0em 3em #001413; color: #8affef;
  background-color: #007a75;
  margin: 6.5vh 5vh ; text-align: center;
  border-radius: 30px;
}
.meter{
  width: 20vh;
}
.name-tage{
  width: 50vw;
  left: 42.5vh;
}
#parallax {
  width: 100%;
  height: 100vh;
  background-size: 98% 98%;
  background-image: url(\images/fornt.png), url(\images/med.png),
    url(\images/1.png), url(\images/-1.png);
  background-repeat: no-repeat;
  background-position: center;
  background-position: 50% 50%;
  z-index: -20;
}

#epipelagic .border-coral-l, #mesopelagic .border-coral-l{
  width: auto;
  height: 100vh;
  position: absolute;
  z-index: -100;
}

#epipelagic .border-coral-l{
  filter: blur(calc(var(--blur) * 0.03px));
  transform: translate(calc(var(--coral_l_epip) * -1px));
}
#mesopelagic .border-coral-l{
  filter: blur(calc(var(--blur2) * 0.005px));
  transform: translate(calc(var(--coral_l_epip) * -0.5px));
}
#epipelagic .border-coral-r{
  width: auto;
  height: 100vh;
  z-index: -100;
  right: 0;
  position: absolute;
  transform: translate(calc(var(--coral_l_epip) * 1px));
  filter: blur(calc(var(--blur) * 0.02px));

}

#epipelagic .border-coral-bl{
  width: auto; z-index: -98;
  left: -25px;
  bottom: 10vh;
  height: 50vh;
  position: absolute;
  transform: translate(calc(calc(var(--coral_l_epip) * -1) * 2px));
  filter: blur(calc(var(--blur) * 0.01px));
}

#mesopelagic .border-coral-tr{
  position: absolute;
  right: 0;
  transform: translate(calc(calc(var(--coral_l_epip) * 1) * 0.5px));
  filter: blur(calc(var(--blur2) * 0.01px));
}
#mesopelagic .border-coral-tl{
  position: absolute;
  left: 0;
  transform: translate(calc(calc(var(--coral_l_epip) * -1) * 0.7px));
  filter: blur(calc(var(--blur) * 0.01px));
}
#bathypelagic .border-coral-br{
  position: absolute;
  right: 0;
  bottom: 0;
  transform: translate(calc(calc(var(--r_to_l3) * -0.1) * -0.5px));
  filter: blur(calc(var(--blur3) * 0.005px));
}
#bathypelagic .border-coral-tl{
  position: absolute;
  left: 0;
  top: 0;
  transform: translate(calc(calc(var(--r_to_l3) * -0.1) * 0.5px));
  filter: blur(calc(var(--blur3) * 0.005px));
}
/*Fish*/
#fish{
  position: absolute;
  z-index: 80;
  transition: 0.1s;
}

#fish:hover{
  cursor: pointer;
  transition: 0.5s;
}
.clownfish{
  width: auto;
  height: 3vw;
  top: 15vh;
  right: 10vw;
  transform: translate(calc(var(--r_to_l) * -12px), calc(var(--fishY) * 1px));
}
.blacktip{
  width: auto;
  height: 10vw;
  top: 40vh;
  left: -13vw;
  transform: translate(calc(var(--r_to_l) * 17px));
}
.tuna{
  width: auto;
  height: 7vw;
  bottom: 20vh;
  right: -10vw;
  transform: translate(calc(var(--r_to_l) * -20px));
}
.oarfish{
  width: auto;
  height: 11vw;
  bottom: 20vh;
  right: 5vw;
  transform: translate(calc(var(--r_to_l2) * -0.3px), calc(var(--r_to_l2) * -1px));
}
.sunfish{
  width: auto;
  height: 20vw;
  bottom: -20vh;
  right: 30vw;
  transform: translate(calc(var(--r_to_l2) * -0.5px), calc(var(--r_to_l2) * -0.5px));
}
.whaleShark{
  width: auto;
  height: 15vw;
  bottom: 20vh;
  left: -20vh;
  transform: translate(calc(var(--r_to_l2) * 1.5px));
}

.myctophids{
  position: absolute;
  width: auto;
  height: 2vw;
  top: 50vh;
  right: -50vw;
  transform: translate(calc(var(--r_to_l2) * -3px));
}
/*Item carcass*/
#carcass{
  position: absolute;
  z-index: 0;
}
#carcass:hover{
  cursor: pointer;
  transform: scale(1.1);
  transition: 0.5s;
  z-index: 0;
}
.museo{
  width: auto;
  max-height: 15vw;
  min-height: 19vh;
  bottom: 6vh;
  right: 2vw;
}
.cambay{
  width: auto;
  max-height: 15vw;
  min-height: 19vh;
  bottom: 6vh;
  left: 2vw;
}
.unknow{
  width: auto;
  max-height: 15vw;
  min-height: 19vh;
  left: 0;
  top: 10vh;
  transform: translate(calc(calc(var(--coral_l_epip) * -1) * 2px));
}
.indonesia{
  width: auto;
  max-height: 20vw;
  min-height: 19vh;
  left: -5vh;
  bottom: 5vh;
  transform: translate(calc(calc(var(--r_to_l2) * -0.1) * 2px));

}

/*Old code*/
#rightcoral{
  position: fixed;
  width: 30%;
  right: -3vw;
  bottom: 10vh;
  transform: translate(calc(((var(--sizeTo)) * (0.16))), 0);
}
.proj {
  width: 800px;
  height: 400px;
  top: 50px;
  position: absolute;
  right: 200px;
  background-image: url(\images/proj_name.png);
  background-size: cover;
  animation: fade 3s;
}

@keyframes fade {
  0% {
    top: -250px;
    opacity: 0;
  }
  100% {
    top: 50px;
    opacity: 100px;
  }
}
@keyframes fadeUp {
  0% {
    opacity: 100%;
  }
  100% {
    opacity: 0;
  }
}
.cover_bg {
  width: 100%;
  height: 100vh;
  position: absolute;
  background-size: cover;
}
#mybtn {
  width: 300px;
  height: auto;
  position: absolute;
  bottom: 11vh;
  left: 42vw;
  margin: 0;
  z-index: 10;
  transition: 2s;
}

.btn{
  background-color: #fff;
  height: 40px;
  width: 100px;
  align-items: center;
  text-align: center;
  display: flex;
  justify-content: center;
  border-radius: 5px;
  box-shadow: 0px 0px 5px #1d1e22;
  color: inherit;
}

.btn.fp{
  bottom: 0; position: absolute; margin-bottom: 100px;
}

.popupp {
  background-color: #fff;
  z-index: 10;
  position: absolute;
  top: 12.5%;
  left: 15.5%;
  margin: 0 auto;
  width: 69vw;
  height: 75vh;
  visibility: hidden;
  display: flex;
  justify-content: center;
  text-align: center;
}
@keyframes fadepopup1 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}

.text_block {
  position: absolute;
  width: 500px;
  height: 500px;
  background-color: #fff;
  left: 37%;
  top: 15%;
}
textarea {
  width: 3rem;
  height: 4rem;
  font-size: 3rem;
  border: 0px;
  border-radius: 50px;
  color: white;
  position: absolute;
  bottom: -95vh;
  margin: 0;
}
textarea::-webkit-scrollbar {
  display: none;
}
#first {
  height: 100vh;
  background-color: hsl(208, 30%, var(--l));
  margin: 0;
  display: flex;
  justify-content: center;
}
:root {
  --l: 49%;
  --hBox: 0;
  --size: 0px;
  --sizeT: 0px;
  --sizeRs: 0px;
  --sizeTi: 0px;
  --sizeTo: 0px;
  --sizeMe:0px;
  --sizeBa:0px;
  --sizeAb:0px;
}
#mybtn2 {
  width: 8rem;
  height: 3rem;
  position: absolute;
  bottom: 11vh;
  z-index: 10;
  border-radius: 15px;
  font-size: 20px;
}
#mybtn3 {
  margin-top: 5vh;
  width: 4rem;
  height: 2rem;
  position: absolute;
  right: 4vw;
  background-color: #f44336;
}
#mybtn4 {
  width: 4rem;
  height: 2rem;
  position: absolute;
  right: 35vw;
  bottom: -93.5vh;
  padding: 2px;
  border-radius: 8px;
  transition-duration: 0.4s;
  border: 2px solid #f44336;
  visibility: hidden;
}
#mybtn4:hover {
  background-color: #f44336;
  color: white;
}
.sand {
  display: none;
}

.dot {
  height: 200px;
  width: 800px;
  background-color: hsla(0, 5%, 80%);
  border-radius: 50%;
  bottom: 11vh;
  position: absolute;
}