body {
  margin: 0;
  background-color: #1d1e22;
  z-index: 20;
  overflow: hidden;
}
#parallax {
  position: relative;
  width: 100%;
  height: 100vh;
  background-size: 98% 98%;
  background-image: url(\images/fornt.png), url(\images/med.png),
    url(\images/1.png), url(\images/-1.png);
  background-repeat: no-repeat;
  background-position: center;
  background-position: 50% 50%;
  z-index: -20;
}
.proj {
  width: 800px;
  height: 400px;
  top: 50px;
  position: absolute;
  right: 200px;
  background-image: url(\images/proj_name.png);
  background-size: cover;
  animation: fade 3s;
}

@keyframes fade {
  0% {
    top: -250px;
    opacity: 0;
  }
  100% {
    top: 50px;
    opacity: 100px;
  }
}
@keyframes fadeUp {
  0% {
    opacity: 100%;
  }
  100% {
    opacity: 0;
  }
}
.cover_bg {
  width: 100%;
  height: 100vh;
  background-size: cover;
  position: absolute;
}
#mybtn {
  width: 300px;
  height: auto;
  position: absolute;
  bottom: 11vh;
  left: 42vw;
  margin: 0;
  z-index: 10;
  transition: 2s;
}

.popupp {
  background-color: #fff;
  z-index: 10;
  position: absolute;
  top: 12.5%;
  left: 15.5%;
  margin: 0 auto;
  width: 69vw;
  height: 75vh;
  visibility: hidden;
  display: flex;
  justify-content: center;
}
@keyframes fadepopup1 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}

.text_block {
  position: absolute;
  width: 500px;
  height: 500px;
  background-color: #fff;
  left: 37%;
  top: 15%;
}
p {
  font-size: 20px;
  text-align: center;
}
textarea {
  width: 3rem;
  height: 4rem;
  font-size: 3rem;
  border: 0px;
  border-radius: 50px;
  color: white;
  position: absolute;
  bottom: -95vh;
  margin: 0;
}
textarea::-webkit-scrollbar {
  display: none;
}
#first {
  height: 100vh;
  background-color: hsl(208, 30%, var(--l));
  margin: 0;
  display: flex;
  justify-content: center;
}
:root {
  --l: 49%;
  --hBox:0;
  --size:0px;
  --sizeT:0px;
  --sizeRs:0px;
  --sizeTi:0px;
  --sizeTo:0px;
}
#mybtn2 {
  width: 8rem;
  height: 4rem;
  position: absolute;
  bottom: 11vh;
  z-index: 10;
}
#mybtn3 {
  margin-top: 5vh;
  width: 4rem;
  height: 2rem;
  position: absolute;
  right: 4vw;
  background-color: #f44336;
}
#mybtn4 {
  
  width: 4rem;
  height: 2rem;
  position: absolute;
  right: 35vw;
  bottom: -93.5vh;
  padding: 2px;
  border-radius: 8px;
  transition-duration: 0.4s;
  border: 2px solid #f44336;
  visibility: hidden;
}
#mybtn4:hover {
  background-color: #f44336;
  color: white;
}

.dot {
  height: 200px;
  width: 800px;
  background-color: hsla(0, 5%, 80%);
  border-radius: 50%;
  bottom: 11vh;
  position: absolute;
}
.animal{
  display: none;
}
.envi{
  display: none;
}
.animal.in-view{
  display: block;
}
.envi.in-view{
  display: block;
}
#tower{
  position: fixed;
  top: 33vh;
  left: 24vw;
  width: calc(200px + (var(--sizeTo)));
  transform: scaleX(-1) translate(calc((var(--sizeTo))*1), 0);
}
#titanic{
  position: fixed;
  top: 15vh;
  left: 39vw;
  width: calc((100px + (var(--sizeTi)))/1);
  transform: translate(0, 0);
}
#clownfish{
  position: fixed;
  top: 50vh;
  right: 40vw;
  width: calc(var(--size));
  transform: scaleX(-1) rotate(-5deg) translate(calc((var(--sizeT))*-2.3), calc((var(--sizeT)*(0.5))));
}
#tuna{
  position: fixed;
  top: 35vh;
  left: 7vw;
  width: calc(var(--sizeT));
  
  transform: scaleX(-1) rotate(10deg) translate(calc((var(--sizeT))*-2.3), calc((var(--sizeT)*(-0.5))));
}
.animal .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}
.animal:hover .tooltiptext {
  visibility: visible;
}
#reefsh{
  position: fixed;
  top: 65vh;
  left: 57vw;
  width: var(--sizeRs);
  transform: scaleX(-1) rotate(-8deg) translate(calc((var(--sizeRs))*1.5), calc((var(--sizeRs)*(-0.2))));
}
img{
  max-width: 100%;
  height: auto;
}

